@media screen and (min-width: 360px) and (max-width: 768px) {
  /* TELA CELULAR */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient( #49a09d, #5f2c82);
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  button:hover {
    transform: scale(1.05);
  }

  .container {
    width: 100%;
    max-width: 900px;
    height: auto;
    background: transparent;
    box-shadow: 0 8px 16px #77aa191a;

    padding: 20px;
    overflow: hidden;

  }

  h1 {
    color: white;
    text-align: center;
  }

  .container > .modal .m-nome {
    color: white;
  }
  .container > .modal .m-senha {
    color: white;
  }

  header {
    font-size: 24px;
    font-weight: 700;
    color: white;
    
  }

  aside {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
  }

  #new {
    padding: 10px 20px;
    background-color:  #5f2c82;
    color: white;
  }


  .divTable {
    
    overflow-x: auto;
    margin-top: 20px;
  }

  table {
    /* width: 100%; */
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #d1d0d0;
  }

  thead {
    background-color: #f8f8f8;
  }

  thead th {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    color: #555555;
    border-bottom: 2px solid #eeeeee;
  }

  tbody tr {
    transition: background-color 0.3s;
  }

  tbody tr:hover {
    background-color: #f9f9f9;
  }

  tbody td {
    padding: 10px;
    text-align: left;
    color: #333333;
  }

  .acao {
    text-align: center;
    width: 70px;
  }



  tbody td.acao button {
    background: none;
    color: #555;
    font-size: 18px;
    /* padding: 5px 8px; */
    cursor: pointer;
  }


  .modal-container.active {
    display: block;      /* <---- */
  }

  .modal {
    width: 90%;
    height: 450px;
    max-width: 500px;
    background-color:  #5f2c82;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .modal label {
    display: flex;     /* <---- */
    margin-bottom: 8px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
  }

  .modal input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 15px;
  }

  .modal input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  }

  .modal button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
  }


  .modal button:hover {
    background-color: #45a049;
  }

  



  /* Estilo principal para o container de login */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    /* background-color: #2575fc; */
    background-image: linear-gradient( #49a09d, #5f2c82);
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
  }

  /* Título do login */
  .login-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: white;
  }

  /* Estilo para o formulário */
  .login-container form {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #00000033;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  /* Estilo para os labels */
  .login-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
  }

  /* Estilo para os inputs */
  .login-container input {
    margin-top: 0.5rem;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffffe6;
    color: #333;
    outline: none;
    box-shadow: 0 2px 4px #0000001a;
  }

  .login-container input:focus {
    outline: 2px solid #6a11cb;
  }

  /* Estilo para o botão */
  .login-container button {
    background-color: #49a09d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .login-container button:hover {
    background-color: #6a11cb;
  }




  /* estilo botao sair */
  #sair {
    margin-left: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
  }

  #logout:hover {
    background: #ff4a4a;
  }

}


@media screen and (min-width: 992px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #6c6c6e;
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  button:hover {
    transform: scale(1.05);
  }

  .container {
    width: 100%;
    max-width: 900px;
    height: auto;
    background: #b0afb1;
    box-shadow: 0 8px 16px #77aa191a;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;

  }

  h1 {
    color: white;
  }

  .container > .modal .m-nome {
    color: white;
  }
  .container > .modal .m-senha {
    color: white;
  }

  header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }

  #new {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
  }

  #new:hover {
    background-color: #45a049;
  }

  .divTable {
    
    overflow-x: auto;
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #d1d0d0;
  }

  thead {
    background-color: #f8f8f8;
  }

  thead th {
    font-size: 16px;
    text-align: left;
    padding: 12px 8px;
    color: #555555;
    border-bottom: 2px solid #eeeeee;
  }

  tbody tr {
    transition: background-color 0.3s;
  }

  tbody tr:hover {
    background-color: #f9f9f9;
  }

  tbody td {
    padding: 12px 8px;
    text-align: left;
    color: #333333;
  }

  .acao {
    text-align: center;
    width: 100px;
  }



  tbody td.acao button {
    background: none;
    color: #555;
    font-size: 18px;
    padding: 5px 8px;
    cursor: pointer;
  }

  tbody td.acao button:hover {
    color: #4CAF50;
  }

  tbody td.acao button.delete {
    color: #e74c3c;
  }

  tbody td.acao button.delete:hover {
    color: #c0392b;
  }

  .modal-container.active {
    display: block;      /* <---- */
  }

  .modal {
    width: 90%;
    max-width: 500px;
    background: #6d17a7;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .modal label {
    display: flex;     /* <---- */
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
  }

  .modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
  }

  .modal input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  }

  .modal button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .modal button:hover {
    background-color: #45a049;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .header span {
      font-size: 20px;
    }

    thead th {
      font-size: 14px;
    }

    tbody td {
      font-size: 14px;
    }
  }




  /* Estilo principal para o container de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient( #49a09d, #5f2c82);
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

/* Título do login */
.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
}

/* Estilo para o formulário */
.login-container form {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Estilo para os labels */
.login-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #f5f5f5;
}

/* Estilo para os inputs */
.login-container input {
  margin-top: 0.5rem;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container input:focus {
  outline: 2px solid #6a11cb;
}

/* Estilo para o botão */
.login-container button {
  background: #2575fc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
  margin-left: 10px;
}

.login-container button:hover {
  background: #6a11cb;
}

/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    padding: 10px;
  }

  .login-container form {
    padding: 15px;
  }

  .login-container h1 {
    font-size: 1.5rem;
  }

  .login-container input,
  .login-container button {
    font-size: 0.9rem;
  }
}


/* estilo botao sair */
#logout {
  margin-left: 10px;
  background: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#logout:hover {
  background: #ff4a4a;
}

}



